a {
    text-decoration: none;
    color: white;
  }
  
  .active-link {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
